@model TaskInfoModel

<a asp-action="Task" asp-controller="User" asp-route-id="@Model.Id">
    <p class="task-priority">@Model.Priority</p>
    <h5>@Model.Title</h5>
    <p class="task-description">@Model.Description</p>
    <div class="task-time-status">
        <p>@Model.Status</p>
        <p>@Model.DueTime</p>
    </div>
</a>

<script>
    var priorityEls = document.querySelectorAll('.task-priority');

    for (el of priorityEls) {
        if (el.textContent === 'Low') {
            el.style.backgroundColor = '#61ff6b'
            el.style.color = "#07d900";
        }else if (el.textContent === 'Medium') {
            el.style.backgroundColor = '#7ad1ff'
            el.style.color = "#1E90FF";
        }else {
            el.style.backgroundColor = '#ff8a97'
            el.style.color = "#ff0000";
        }
    }
</script>